/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

@font-face {
  font-family: "Montserrat NORM";
  src: url(../../font/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: url(../../font/GT-Ultra-Standard-Bold-Trial.woff2) format("woff2");
}
body {
  background-color: #060447;
  font-family: "Montserrat";
  color: #fff38a;
}

main {
  max-width: 1280px;
  margin: auto;
  margin-top: 140px;
  padding: 0 24px;
}
main .top {
  display: flex;
}
main .top .left {
  flex: 2;
  display: flex;
  flex-direction: column;
}
main .top .left .logos {
  position: relative;
  width: 80px;
  margin-bottom: 24px;
}
main .top .left .logos img {
  transform: translate(0, 0);
  position: absolute;
  opacity: 1;
  transition: transform 1s ease, opacity 1s ease;
}
main .top .left .logos img:not(.activ) {
  opacity: 0;
  transform: translate(100%, 0);
}
main .top .left .logos img.old {
  opacity: 0;
  transform: translate(-100%, 0);
}
main .top .left .titles {
  margin-bottom: 8px;
  position: relative;
}
main .top .left .titles h1 {
  display: none;
}
main .top .left .titles h1.activ {
  display: block;
  font-size: 40px;
  line-height: 49px;
}
main .top .left .descriptions {
  margin-bottom: auto;
  max-width: 422px;
  position: relative;
}
main .top .left .descriptions p {
  display: block;
  font-family: "Montserrat NORM";
  line-height: 30px;
  font-size: 20px;
  position: absolute;
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 1s ease, opacity 1s ease;
  left: 0;
}
main .top .left .descriptions p:not(.activ) {
  opacity: 0;
  transform: translate(100%, 0);
}
main .top .left .descriptions p.old {
  opacity: 0;
  transform: translate(-100%, 0);
}
main .top .left .years {
  font-size: 200px;
}
main .top .right {
  flex: 1;
}
main .top .right .pictures {
  aspect-ratio: 2/3;
  position: relative;
}
main .top .right .pictures .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom {
  position: relative;
  top: 84px;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}
.bottom .arrows {
  display: flex;
}
.bottom .arrows img {
  width: 22px;
}
.bottom .arr-left, .bottom arr-right {
  display: inline-block;
}
.bottom .arr-left {
  transform: scaleX(-1);
  margin-right: 40px;
  opacity: 0.5;
}
.bottom ul {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.bottom ul li {
  position: relative;
  flex-grow: 1;
}
.bottom ul li .line:before, .bottom ul li .line:after {
  content: "";
  position: absolute;
  background-color: #fff38a;
  height: 2px;
  right: 32px;
  left: 0;
  opacity: 0.3;
}
.bottom ul li .line:after {
  opacity: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-out;
}
.bottom ul li:after {
  content: "";
  right: 0;
  position: absolute;
  background: #fff38a;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transform: translate(0, -50%);
  opacity: 0.5;
}
.bottom ul li.activ .line:after {
  transform: scaleX(1);
}
.bottom ul li.activ:after {
  opacity: 1;
}
.bottom ul li:first-child::before {
  content: none;
}

/*# sourceMappingURL=style.css.map */
